<div ng-hide="users.isLoggedIn">
  <h2>Log in to see all users</h2>
</div>

<div ng-show="users.isLoggedIn">
  <h2>Welcome to my application</h2>
  <md-button class="md-raised" ng-click="users.add()" >Add</md-button>
  <!--<img src="{{users.getServiceImageUrl}}" >-->
  <h3>Email Verified: {{users.isEmailVerified}}</h3>
</div>

<ul>
  <li ng-repeat="ride in users.rides">
    <p>{{ride.from}}</p>
    <p>{{ride.to}}</p>
  </li>
</ul>

<ul>
  Users:
  <li ng-repeat="user in users.users_all">
    <div ng-if="user.emails" >
      {{ user.emails[0].address}}
    </div>
    <div ng-if="user.services.google" >
      {{ user.services.google.email}}
    </div>
    <div ng-if="user.services.facebook" >
      {{ user.services.facebook.email}}
    </div>
  </li>
</ul>